body, html {
  height: 100%;
  margin: 0;
}

/*
  existuje element <main /> a ten by byl vhodnější
  než div s třídou main-body
*/
.main-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
