body {
  margin: 0;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
}

p {
  margin: 1rem; 
  min-width: 30%;
  text-align: center;
  background-color: brown;
}
