body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
  gap: 2rem;
}

p {
  min-width: 30%;
  text-align: center;
  background-color: brown;
}
