body {
  margin: 0;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: red;
}

/*
  spíš než margin by bylo vhodnější použít u parentu pravidlo
  gap: 2rem;
  Tím pádem se vyhnete problémům s margin collapsing
*/
p {
  margin: 1rem;
  min-width: 30%;
  text-align: center;
  background-color: brown;
}
